/* box sizing reset */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/* root */

body {
  padding: 0 24px;
  color: #555;
  background: #333;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

/* main */

.main {
  width: 768px;
  margin: 0 auto;
  text-align: left;
  background: white;
  padding: 48px;
  border: solid #ddd;
  border-width: 0 1px 1px 1px;
}

/* title */

.title {
  margin-top: 0;
}

.titlt span {
    font-style:italic;
}

/* message handling */

.log {

}

.log--error {
  
}

.log--success {
  
}

/* form */

form {
  
}

/* chat */

.chat {
  padding: 12px;
  margin-bottom: 4px;
  background-color: #eee;
}

.chat:hover {
  background-color: #ddd;
}

.chat .username {
  font-weight: 700;
}

.chat .message {
  margin: 12px 0;
}

/* spinner */

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}
